<div class="dashboard">
  <div
    class="dashboard__card_container"
    infinite-scroll
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [infiniteScrollUpDistance]="1"
    [scrollWindow]="false"
    (scrolled)="onScroll()"
    (scrolledUp)="onUp()"
  >
    <ng-container *ngFor="let i of array">
      <app-card [title]="'sakshay'" [data]="i"></app-card>
    </ng-container>
  </div>

  <!-- <ng-container *ngFor="let flight of globalDataService.allData | async; trackBy: trackByID">
      <app-card [data]="flight"></app-card>
    </ng-container> -->
</div>
